#memory, #pulseaudio, #cpu, #temperature, #disk, #tray, #clock 
{
  background-color: #303030;
  border:           0px solid #303030;
  border-radius:    2px;
  margin:           2px 6px 6px 6px;
}

#memory, #cpu, #temperature, #clock, #disk
{
  font-family:      "JetBrains Mono Nerd Font";
  font-weight:      Bold;
  padding:          4px 0px 4px 0px;
}  

#tray 
{
  padding:          6px 0px 6px 0px;
}  

#pulseaudio 
{
  font-family:      "JetBrains Mono Nerd Font";
  font-size:        18px;
  color:            #9e9a95;
  padding:          4px 3px 4px 0px;
}

#memory             { color: #86a959; }
#pulseaudio         { color: #e8ab54; }
#cpu                { color: #3b89b5; }
#disk               { color: #d23d3d; }
#temperature        { color: #d23d3d; }

#clock
{
  color:            #9e9a95;
  font-size:        16px;
  padding:          6px 0px 6px 0px;
}
