config/ncspot/userstate.cbor
config/spotifyd/password
config/spicetify/Backup
config/spicetify/Extracted
config/spicetify/Extensions
config/spicetify/CustomApps
config/btop/btop.log
config/zsh/.zcompdump
