* {
  font-family: JetBrainsMono Nerd Font;
}

@import "./css/mods.css";

window#waybar { background: rgba(15, 15, 15, 0.2); }

/*
.modules-right 
{ 
  background: #151515;
  padding: 6px 0px 0px 0px;
  border-radius: 2px 0px 0px 0px;
}

.modules-left 
{
  background: #151515;
  border-radius: 0px 0px 0px 2px;
}

window > box {
  margin: 20px 20px 20px 0px;
  border-radius: 0px;
  background: #202020; 
}
*/

#workspaces button 
{
  border-radius:   0px;
  margin:          0px 0px;
  padding:         7px 14px;
  font-size:       24px;
  color:           #9e9495;
}

#workspaces button.visible        { color: #2b2e30; }
#workspaces button.focused        { background-color: #1a1c1d; }
#workspaces button.urgent         { color: #d23d3d; }
#workspaces button.current_output { color: #aaaaaa; }
#workspaces button:hover {
    box-shadow: #ffffff;
    border-radius: 0px 0px 0px 2px;
}
